@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        height: -webkit-stretch;
    }
    body {
        height: -webkit-stretch;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 72.22% 50.59%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5% 64.9%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 240 5% 64.9%;
    }
    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 240 4.9% 83.9%;
    }

    .steps > h3 {
        @apply mb-4 mt-6;
    }
    .steps > p {
        @apply text-base text-neutral-600;
    }
    .step > p > code {
        @apply rounded-xl bg-gray-200 px-2 py-0.5 text-black dark:bg-neutral-800 dark:text-white;
    }
    .steps > p > a {
        @apply rounded-md bg-gray-200 px-2 py-0.5 text-sm text-black dark:bg-dawn-700 dark:text-white;
    }
    .container-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1400px;
        border-style: dashed;
        border-color: hsl(var(--border) / 0.7);
    }

    .container-wrapper:is(.dark *) {
        border-color: hsl(var(--border));
    }

    @media (min-width: 1400px) {
        .container-wrapper {
            border-left-width: 1px;
            border-right-width: 1px;
        }
    }

    @media (min-width: 1800px) {
        .container-wrapper {
            max-width: 1536px;
        }
    }
}

@layer utilities {
    .step {
        counter-increment: step;
    }

    .step::before {
        @apply absolute -mt-1 inline-flex h-8 w-8 items-center justify-center rounded-full border-[3px] border-white bg-dusk-400 text-center -indent-px text-sm text-black dark:border-background dark:bg-dawn-700 dark:text-white;
        @apply ml-[-50px];
        content: counter(step);
    }
    .home-page a {
        @apply cursor-none;
    }
    .home-page button {
        @apply cursor-none;
    }
}

@layer base {
    :root {
        --chart-1: 221.2 83.2% 53.3%;
        --chart-2: 212 95% 68%;
        --chart-3: 216 92% 60%;
        --chart-4: 210 98% 78%;
        --chart-5: 212 97% 87%;
    }

    .dark {
        --chart-1: 221.2 83.2% 53.3%;
        --chart-2: 212 95% 68%;
        --chart-3: 216 92% 60%;
        --chart-4: 210 98% 78%;
        --chart-5: 212 97% 87%;
    }
}
